fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langgraph

chromadb
sentence-transformers

pydantic
typing-extensions