fastapi
uvicorn[standard]
python-dotenv

psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

langchain==0.2.14
langchain-community==0.2.12
langchain-groq

langgraph==0.2.27

chromadb==0.4.24
sentence-transformers==2.2.2
numpy<2

pydantic==2.7.4
typing-extensions